@font-face {
  font-family: "Chapbook";
  src: url("src/chapbook.otf") format("opentype");
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v161/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

* {font-family: "Chapbook", times;}

#char {
  position: absolute;
  left: 30px;
  top: 30px;
}

#popupBox {
  display: none;
  margin: auto;
  height: 100%;
  width: 500px;
}

html,body {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #popupBox {
    width: 100%;   
  }
  .arrowContainer {
    display: block;
  }
}

h1 {
  font-size: 50px;
}

@keyframes fadeInB {
            0% {
                opacity: 0;
            }
            50% {
              opacity: 0;
            } 
            100% {
                opacity: 1;
            }
        }
@keyframes fadeInT {
            0% {
                opacity: 0;
                transform: translate(0, -300%);
            }

            100% {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

.startB {
  width: 500px;
  height: 50px;
  font-size: 30px;
  background: black;
  border: 2px solid white;
  color: white;
  animation: fadeInB ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.arrowContainer {
  display: none;
  position: absolute;
  bottom: 10px;
  margin: auto;
}

.arrow {
 font-family: 'Material Symbols Outlined';
  width: 70px;
  height: 70px;
  background: black;
  border: 2px solid white;
  color: white;
}
