@font-face {
  font-family: "Chapbook";
  src: url("src/chapbook.otf") format("opentype");
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v161/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

* {font-family: "Chapbook", times;}
body {background: #1c2028}

#char {
  position: absolute;
  width: 15%;
}

html,body {
  width: 100%;
  height: 100%;
}

#rimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  #popupBox {
    width: 100%;   
  }
  .arrowContainer {
    display: block;
  }
  .startB {
    width: 85%;
  }
  #rimg {
    width: 98%;
  }
  #imgTCont {
    height: fit-content;
  }
}

@media only screen and (min-width: 600px) {
  .arrowContainer {
    display: none;
  }
  .startB {
    width: 500px;
  }
  #rimg {
    height: 98%;
  }
  #imgTCont {
    height: 100%;
  }
}

h1 {
  font-size: 50px;
  color: white;
}


@keyframes fadeInB {
            0% {
                opacity: 0;
            }
            50% {
              opacity: 0;
            } 
            100% {
                opacity: 1;
            }
        }


@keyframes fadeInOut {
            0% {
                opacity: 1;
            }
            50% {
              opacity: 0;
            } 
            100% {
                opacity: 1;
            }
        }

@keyframes fadeInT {
            0% {
                opacity: 0;
                transform: translate(0, -300%);
            }

            100% {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

@keyframes moiExpand {
  0% {
    font-size: 0px;
  }
  30% {
    font-size: 0px;
  }
  100% {
    font-size: 50px;
  }
}

.startB {
  height: 50px;
  font-size: 30px;
  background: black;
  border: 2px solid white;
  color: white;
  animation: fadeInB ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.arrowContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: center
}

.arrow {
  font-family: 'Material Symbols Outlined';
  background: black;
  border: 2px solid white;
  color: white;
  width: 80px;
  font-size: 40px;
  height: 80px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  align-items:center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#popupBox {
  text-align: center;
  color: white;
  background: black;
  border: 2px solid white;
  height: 2px;
  background-image: url("src/popup.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease 400ms;
  margin: auto;
  border-radius: 30px;
  width: 500px;
}

.moi {
  animation: moiExpand ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.invisiclue {
  position: absolute;
  width: 15%;
  height: 15%;
}

#imgTCont {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.guessB {
  width: 30%;
  transition: ease 200ms;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
}

.guessB:hover {
  background: lightgray;
}

.guessB img {
  border-radius: 50px;
  width: 70%;
}

.uibtn {
  border-radius: 50px;
  font-family: 'Material Symbols Outlined';
  background: #12161b;
  border: 3px solid #525252;
  outline: 3px solid #1f3d3b;
  transition: ease 200ms;
  padding: 15px;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
}

.uibtn:hover {
  background: #525252;
}
